.register-course .wrap label{
    position: relative;
}

.error-text{
    bottom: -26px;
    position: absolute;
    left: 233px;
    width: 100% !important;
    font-size: 14px;
    color: red;
    letter-spacing: 1px;
    font-family: 'main' !important;
}

.nav ul li.active {
    background: unset;
}

.nav ul li a.active{
    background: #00afab;
    color: white;
} 

.loading-page{
    position: fixed;
    width: 100px;
    height: 100px;
    background: #00afab;
    top: 50%;
    left: 50%;
    border-radius: 100%;
    transform: scale(0);
    transition: all 1s ease;
}

.profile .tab .tab-content .tab1 label{
    position: relative;
    margin-bottom: 35px;
}